@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  /* background-color: darkgrey!important; */
  background-color: #F5F5F5 !important;
  color: #323232;
}

/* code {
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
